*{
    padding: 0;
    margin: 0;
}
.conteiner-img{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.imagen-galeria{
    width: 300px;
}
.imagen-galeria:hover{
    opacity: 0.6;
    cursor: pointer;
}